.App {
  text-align: center;
}

button {
  margin: 10px auto;
  padding : 5px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border-width: 0px;
  outline: none;
}

.logo {
  margin: 25px auto;
}

.alert{
  width: 85vw;
  margin: auto;
}