.App {
  text-align: center;
}

button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  border-width: 0px;
  outline: none;
}

.logo-container {
  margin-top: 25px;;
}

.logo-image{
  width: 70vw;
  max-width: 450px;
}

.alert{
  width: 85vw;
  margin: auto;
}